
table {
    border-collapse: collapse;
    width: 100px;
}

td {
    border: 1px solid black;
    padding: 10px 40px 10px 40px ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

